<div class="container">
  <div class="login">
    <div class="container">
      <h1>Log in</h1>
      <form action="/home" method="post">
        <input type="text" class="form-control m-4" name="email" id="email" placeholder="Email Address">
        <input type="password" class="form-control m-4" name="pw" id="pw">
        <input type="checkbox"><span>Remember me</span>

        <button>log in</button>
      </form>
      <hr>
      <p>Or Connect With</p>
      <hr>
      <ul>
        <li><i class="fab fa-facebook-f fa-2x"></i></li>
        <li><i class="fab fa-twitter fa-2x"></i></li>
        <li><i class="fab fa-github fa-2x"></i></li>
        <li><i class="fab fa-linkedin-in fa-2x"></i></li>
      </ul>
      <div class="clearfix"></div>
      <span class="copyright">&copy;2023</span>
    </div>
  </div>
  <div class="register">
    <div class="container">

      <h2>Hello,friend!</h2>
      <p>Enter your details and start journey with us</p>
      <form action="/signup" method="post">
        <button>Register <i class="fas fa-arrow-circle-right"></i></button>
      </form>
    </div>
  </div>
</div>